#content {
	width: 100%;
	text-align: center;
}


h1 {
	font-size: 200px;
	color:skyblue;
}

h2 {
	text-align: left;
}

ul {
	text-align: left;
}

td {
	width: 200px;
}

div
{
  line-height: 300px;
    /*<-- this is what you must define */
  vertical-align: middle;
  background-color: black;
}

button{
	font-size:80px;
	height:200px;
	width:700px;
	background-color: skyblue;
	border-radius: 50%;

}

button:hover{
	font-size:80px;
	height:200px;
	width:700px;
	background-color: #ffffff;
	border-radius: 50%;

}

#loadingtext {
	position:absolute;
	top:250px;
	left:150px;
	font-size:2em;
	color: white;
}

p{
	font-size: 40px;
	color:skyblue;
}